{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block page_body %}
<div>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot your password?
      <a href="">Click here to reset it</a>.
    </p>
    <p>New user?
      <a href="{{ url_for('auth.register') }}">Click here to register</a>.
    </p>
</div>
{% endblock %}
