{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block page_body %}
  <div class="row">
    <h1>TODO LIST</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        {% for todo in todos %}
          <li class="list-group-item">
            <h3>{{ todo.id }} : {{ todo.name }} @ {{ todo.create_date }}</h3>
            <h3>from {{ user.id}}</h3>
            {% if canEdit %}
              <a href="{{ url_for('.delTodo', id=todo.id) }}" class="btn btn-info" role="button">
                Delete
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <a href="{{ url_for('.userInfo', id=user.id) }}" role="button">
        <img src="{{ avatars.gravatar(user.email_hash) }}">
      </a>
      {% if canEdit == true %}
      <a href="{{ url_for('.add') }}" class="btn btn-info" role="button">
        Add todo
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
