{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}This is an example page{% endblock %}

{% block page_body %}
<div clas='container'>
  <div class='row'>
    <div class="col-md-8 col-md-offset-2">
      <div class='jumbotron'>
        <h1>Todo Detail</h1>
        <h2>{{ todo.id }}</h2>
        <h2>{{ todo.name }}</h2>
        <h2>{{ todo.create_date }}</h2>
        <a href="{{ url_for('main.todoByUser', user_id=todo.user.id) }}" class="btn btn-info" role="button">
          Goto his Todo_List
        </a>
      </div>
      <ul class="list-group">
        {% for comment in todo.comments %}
         <li class="list-group-item">
           {{ comment.user.email }} : {{ comment.content }}
         </li>
         {% endfor %}
       </ul>
      <div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-8 col-md-offset-2">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>
{% endblock %}
