{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_body %}
<div class="container">

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      {% for user in users %}
        <a href="{{ url_for('main.todoByUser', user_id=user.id) }}" class="list-group-item">
          <img src="{{ avatars.default() }}">
          <h3>{{ user.email }}</h3>
          <a href="{{ url_for('main.delUser', id=user.id) }}" class="btn btn-info" role="button">Delete</a>
          {% if current_user.is_authenticated %}
            {% if current_user.is_following(user) %}
              <a href="{{ url_for('main.unfollow', user_id=user.id)}}" class="btn btn-info" role="button">UnFollow</a>
            {% else %}
              <a href="{{ url_for('main.follow', user_id=user.id)}}" class="btn btn-info" role="button">Follow</a>
            {% endif %}
          {% endif %}
          <a href="{{ url_for('main.userInfo', id=user.id) }}" class="btn btn-info" role="button">Info</a>
          <a href="{{ url_for('main.todoByUser', user_id=user.id) }}" class="btn btn-info" role="button">Todos</a>
        </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
