{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_body %}
<div class="container">

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="list-group">
      {% for user in users %}
       <li class="list-group-item">
         <a href="{{ url_for('main.userInfo', id=user.id) }}">
           <img src="{{ avatars.gravatar(user.email_hash) }}">
         </a>
          <h3>{{ user.email }}</h3>
          <h4> about me : {{ user.about_me }}</h4>
          <a href="{{ url_for('main.delUser', id=user.id) }}" class="btn btn-info" role="button">Delete</a>
          {% if current_user.is_authenticated %}
            {% if current_user.is_following(user) %}
              <a href="{{ url_for('main.unfollow', user_id=user.id)}}" class="btn btn-info" role="button">UnFollow</a>
            {% else %}
              <a href="{{ url_for('main.follow', user_id=user.id)}}" class="btn btn-info" role="button">Follow</a>
            {% endif %}
          {% endif %}
          <a href="{{ url_for('main.todoByUser', user_id=user.id) }}" class="btn btn-info" role="button">Todos</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
