{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block page_body %}
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-md-offset-1">
        <img src="{{ avatars.gravatar(user.email_hash, size='50') }}">
      </div>
      <div class="col-md-10">
        {{ user.email }}
        <br>
        about me : {{ user.about_me }}
        <br>
        <a href="{{ url_for('main.todoByUser', user_id=user.id )}}"> todos </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ul class="list-group">
          {% for follower in followers %}
            <a href="{{ url_for('main.userInfo', id=follower.to_user.id) }}" class="list-group-item">
              <img src="{{ avatars.gravatar(follower.to_user.email_hash) }}">
              <h3>{{ follower.to_user.email }}</h3>
              <h3>about me : {{ follower.to_user.about_me }}</h3>
            </a>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
