{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_body %}
<div class="container">

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      {% for user in users %}
        <a href="{{ url_for('.todoByUser', user_id=user.id) }}" class="list-group-item">
          <h3>{{ user.id }} : {{ user.email }}</h3>
          <a href="{{ url_for('.delUser', id=user.id) }}" class="btn btn-info" role="button">Delete</a>
          <a href="" class="btn btn-info" role="button">Follow</a>
        </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
